*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    /* background-color: oklch(84.882% 0.01661 285.963); */
}

#top {
    display: flex;
    background-color: oklch(39.793% 0.00005 271.152);
    padding: 1vw;
    justify-content: space-between;
}

#settings-button {
    cursor: pointer;
    user-select: none;
    color: oklch(100% 0.00011 271.152);
}

#invisible-settings-button {
    color: oklch(39.793% 0.00005 271.152);
    user-select: none;
}

@media screen and (max-width: 899px) {
    #bottom {
        display: flex;
    }
}

#maze {
    display: flex;
    flex-direction: column;
    /* background-color: oklch(84.882% 0.01661 285.963); */
    gap: 0.2vw;
    padding: 1vw;
    align-items: center;
    flex: 2;
}

@media screen and (max-width: 899px) {
    #maze {
        gap: 0.5vw;
    }
}

.row {
    display: flex;
    gap: 0.2vw;
}

@media screen and (max-width: 899px) {
    .row {
        gap: 0.5vw;
    }
}

.cell {
    min-height: 4.5vw;
    min-width: 4.5vw;
    background-color: oklch(69.314% 0.03061 285.546);
    text-align: center;
    align-content: center;
}

.blocked {
    background-color: oklch(27.599% 0.02944 284.301);
    z-index: 1;
}

.visited {
    background-color: oklch(72.427% 0.22688 139.343);
    z-index: 1;
}

i {
    z-index: 1;
}

#settings {
    display: none;
    /* position: absolute; */
    width: 100%;
    align-items: center;
    padding: 1vw;
    justify-content: space-between;
    z-index: 2;
    background-color: oklch(77.748% 0.0948 215.788);
    flex: 1;
}

@media screen and (max-width: 899px) {
    #settings {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        width: 30%;
    }
}

#close {
    padding: 0.5vw;
    user-select: none;
    cursor: pointer;
    color: oklch(100% 0.00011 271.152);
    align-self: flex-start;
    height: 3.5vw;
    width: 3.5vw;
    text-align: center;
    align-content: center;
}

@media screen and (max-width: 899px) {
    #close {
        align-self: auto;
        height: 10vw;
        width: 10vw;
    }
}

#close:hover {
    background-color: oklch(50.474% 0.19113 27.59);
}

.category {
    display: flex;
    flex-direction: column;
    background-color: oklch(77.748% 0.0948 215.788);
    width: 10%;
    align-items: center;
    align-self: flex-start;
}

@media screen and (max-width: 899px) {
    .category {
        align-self: auto;
    }
}

.label-input-group {
    display: flex;
    flex-direction: column;
    background-color: oklch(84.882% 0.01661 285.963);
    border-radius: 0.5vw;
    padding: 0.5vw;
    align-items: center;
    width: max-content;
    height: 3.5vw;
}

@media screen and (max-width: 899px) {
    .label-input-group {
        height: auto;
    }
}

.settings-label {
    font-weight: bold;
}

.errors {
    display: flex;
    flex-direction: column;
}

.settings-input-error {
    color: oklch(46.946% 0.19265 29.223);
    user-select: none;
    overflow-wrap: break-word;
}

.settings-input-invisible-error {
    color: oklch(77.748% 0.0948 215.788);
    user-select: none;
}

input {
    width: max-content;
}

@media screen and (max-width: 899px) {
    input {
        /* width: 35%; */
    }
}

#draw-walls {
    width: fit-content;
    align-self: flex-start;
    height: 3.5vw;
}

@media screen and (max-width: 899px) {
    #draw-walls {
        height: auto;
        align-self: auto;
    }
}
